{% load static %}
{% block header %}
<link type="text/css" rel="stylesheet" href="{% static  'main/css/PBC.css'%}">
{% endblock %}

<div class="content">
    <div class=" hide popup-container">
        <div class="form_container">
            <div class="exit_block">
                <button class="exit_popup">
                    ❌
                </button>
            </div>
            <form method="post" action="{% url 'pbc_upload_files' %}?model={{module}}" 
                  class="upload_file_form_main"  enctype='multipart/form-data'>
                {% csrf_token %}
                {{form_upload_files.as_p}}
                <button style="margin: 10px 0px;">Загрузить</button>
            </form>
        </div>
    </div>
    <div class="info">  
        <div class="leftPanel">
            <h2>Гербер файлы:</h2>
            <ul>
                {% if gbrs is None %}
                    Файлы не загружены
                {% endif %}

                {% for gbr in gbrs %}
                    <div class="gbr">
                        <span>
                            {{gbr}}
                        </span>
                        <span>
                            <input type="checkbox" class="gbrInput" id ="{{gbr}}">
                        </span>
                    </div>
                {% endfor %}
            </ul>
            <button id="getGerber">Загрузить заного</button>   
        </div>
        <div class="rightPanel">
            {% for gbr in gbrs %}
                <img id="IMG_{{gbr}}" src=""/>
            {% endfor %}
        </div>
    </div>
    <div class="files">
        <h2>Файлы для сборки:</h2>
        <ul>
            <li class="not-exist">
                Перечень компонентов (.xlsx) ПЭ
            </li>
            <li class="not-exist">
                Электрическая схема (.pdf) ЭЭ
            </li>
            <li class="not-exist">
                Сборный чертеж (.pdf) С4
            </li>
        </ul>
        <button id="upload_pbc">Загрузить</button>
    </div>
    <div class="components">

        <h2>Доступность компонентов на складе для 1 шт</h2>

        {% if element.fields is None or element.items is None %}
            <p>Компонентов нету</p>
        {% else %}
            {% with fields=element.fields items=element.items %}
                {% include 'components/table_category_view.html' %}
            {% endwith %}
        {% endif %}


    </div>
</div>

<script src="{% static 'main/js/pbc_view.js' %}"></script>
