{% block header %}
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static  'main/css/PBC.css'%}">
{% endblock %}

<div class="content">
    <div class="info">
        <div class="leftPanel">
            <h2>Гербер файлы:</h2>
            <ul>
                {% if gbrs is None %}
                    Файлы не загружены
                {% endif %}

                {% for gbr in gbrs %}
                    <li>{{gbr}}</li>
                {% endfor %}
            </ul>
            <form method="post">
                {% csrf_token %}
                <button>Загрузить заного</button>
            </form>
        </div>
        <div class="rightPanel">
            <img src="'"/>
        </div>
    </div>
    <div class="files">
        <h2>Файлы для сборки:</h2>
        <ul>
            {% if buildFiles is None %}
                Файлы не загружены
            {% endif %}

            {% for buildFile in buildFiles %}
                <li>{{buildFile}}</li>
            {% endfor %}
        </ul>
        <form method="post">
            {% csrf_token %}
            <button>Загрузить</button>
        </form>
    </div>
    <div class="components">
        <h2>Доступность компонентов на складе для 1 шт</h2>

        {% if categoryes.fields is None and other.fields is None %}
            <p>Комопнентов нету</p>
        {% endif %}

        {% with fields=element.fields items=element.items %}
            {% include 'components/table_category_view.html' %}
        {% endwith %}

    </div>
</div>